<launch>
    <arg name="marker_length" default="0.04" />
    <arg name="scan_limit" default="1" />

    <include file="$(find table_detector)/launch/table_detector.launch" /> 
    <node name="BookDetector" pkg="book_detector" type="ArucoDetector.py" output="screen">
        <param name="marker_length" value="$(arg marker_length)" />
        <rosparam file="$(find book_detector)/config/master_calibration.yaml" />
    </node>
    <node name="StateMachine" pkg="state_machine" type="StateMachine.py" output="screen" />
</launch>