<launch>
    <arg name="marker_length" default="0.038" />
    <arg name="scan_limit" default="3" />
    <arg name="questions_file_path" default="$(find tiago_asker)/src/questions.json" />

    <!-- Camera Parameters -->
    <arg name="matrix_file" default="$(find camera_arm_calibration)/config/cam_matrix.npy" />
    <arg name="coefficients_file" default="$(find camera_arm_calibration)/config/cam_coefficients.npy" />
    <arg name="aruco_matrix" default="$(find camera_arm_calibration)/config/aruco.npy" />

    <include file="$(find table_detector)/launch/table_detector.launch" /> 
    <include file="$(find tiago_interact)/launch/tiago_interact.launch" />
    <include file="$(find tiago_asker)/launch/tiago_asker.launch" /> 
    <include file="$(find stt_processor)/launch/stt_processor_with_gui.launch" /> 
    <include file="$(find pick_and_give)/launch/pick_and_give.launch" /> 
    <include file="$(find go_home)/launch/homing.launch" /> 
    <node name="BookDetector" pkg="book_detector" type="ArucoPosition.py" output="screen">
        <param name="marker_length" value="$(arg marker_length)" />
        <param name="scan_limit" value="$(arg scan_limit)" />
        <param name="matrix_file" value="$(arg matrix_file)" />
        <param name="coefficients_file" value="$(arg coefficients_file)" />
        <param name="aruco_matrix" value="$(arg aruco_matrix)" />
    </node>
    <node name="StateMachine" pkg="state_machine" type="StateMachine.py" output="screen" />
</launch>