<launch>
    <arg name="marker_length" default="0.04" />
    <arg name="aruco_target_id" default="[1, 4]" />
    <arg name="scan_limit" default="1" />

    <!-- Camera Parameters -->
    <arg name="matrix_file" default="$(find camera_arm_calibration)/config/cam_matrix.npy" />
    <arg name="coefficients_file" default="$(find camera_arm_calibration)/config/cam_coefficients.npy" />
    <arg name="aruco_matrix" default="$(find camera_arm_calibration)/config/aruco.npy" />

    <node name="TableDetector" pkg="table_detector" type="TableDetector.py" output="screen">
        <param name="marker_length" value="$(arg marker_length)" />
        <param name="aruco_target_id" value="$(arg aruco_target_id)" />
        <param name="scan_limit" value="$(arg scan_limit)" />
        <param name="matrix_file" value="$(arg matrix_file)" />
        <param name="coefficients_file" value="$(arg coefficients_file)" />
    </node>

    <!-- Lancement de RViz avec un fichier de configuration -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find table_detector)/config/table.rviz" output="screen">
        <!-- Ajouter des paramètres spécifiques si nécessaire -->
        <param name="use_sim_time" value="false"/>
    </node>
</launch>