html {
    display: flex;
    justify-content: center;
}

body {
    margin: 0 20px;
    font-family: 'Arial', sans-serif;
    color: #333;
    background: linear-gradient(135deg, #6a89cc, #a29bfe);
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
    flex: auto;
    max-width: 800px;
}

h1 {
    color: white;
    text-align: center;
}


#retanscript {
    font-family: sans-serif;
    color: white;
    font-size: 24px;
    font-weight: bolder;
}
#listener-msg {
    color: white;
    font-size: 36px !important;
    font-weight: bolder;
}

#whiteCase {
    margin-top: 30px;
    border: 3px solid whitesmoke;
    border-radius: 25px;
    color: white;
    font-size: 24px;
    font-weight: bolder;
    font-style: oblique;
    box-shadow: 5px 5px 5px whitesmoke;
}

#listener,
#transcription {
    color: white;
    padding: 10px;
}

#listener {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    border-bottom: solid;
}

#transcription {
    font-size: 24px;
    font-weight: bolder;
    font-style: oblique;
    min-height: 140px;
}

.partial {
    color: chartreuse;
    font-style: italic;
    padding-left: 7px;
}

.final {
    margin-left: 7px;
}

.previous-final {
    color: white;
    font-style: italic;
    padding-left: 7px;
}

#circle {
    display: none;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    background-color: lime;
}

.loader,
.listen {
    width: 40px;
    aspect-ratio: 1;
    display: grid;
}

.loader::before,
.loader::after,
.listen::before,
.listen::after {
    content: "";
    grid-area: 1/1;
    background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%, var(--c) 0 50%;
    background-size: 12px 12px;
    animation: l12 1s infinite;
}

.listen::before {
    margin: 4px;
    filter: hue-rotate(45deg);
    background-size: 8px 8px;
    animation-timing-function: linear;
}

.listen-false {
    --c: no-repeat radial-gradient(farthest-side, red 92%, #0000);
}

.listen-true {
    --c: no-repeat radial-gradient(farthest-side, lime 92%, #0000);
}

@keyframes l12 {
    100% {
        transform: rotate(0.5turn);
    }
}

#status,
#options,
#container-questions-anwsers {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

#status {
    justify-content: space-evenly;
}

#container-questions-anwsers {
    text-align: left;
    color: white;
    font-size: 24px;
    font-weight: 501;
    margin-top: 20px;
    flex-direction: column;
    min-height: 50px;
}

#options {
    display: none;
    justify-content: space-evenly;
    margin: 20px 0;
    padding: 10px 0;
}

#settings-btn,
#toggle-mic,
#reload-btn,
#toggle-refill {
    color: black;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background-color: lime;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: opacity 0.2s;
}

#settings-btn:hover,
#toggle-mic:hover,
#toggle-refill:hover {
    opacity: 0.8;
}

#reload-btn {
    background-color: red;
    color: white;
    font-size: 24px;
}

#credits {
    margin-top: 25px;
    font-style: italic;
    color: white;
    text-align: center;
}

#question-data {
    margin: 20px;
}

#answers-data, 
#question-answers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#answers-data {
    flex-wrap: wrap;
    margin: 10px 0;
}

.answer-element {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #333;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.2s;
    border: none;
    width: 300px;
    height: 150px;
    text-transform: uppercase;
}

.answer-element:hover {
    background-color: #555;
}

#status-text {
    color: white;
    font-size: 24px;
    font-weight: 501;
}